body {
    margin: 0;
    padding: 0;
    background-image: url('../images/arkaplan.webp');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    height: 100vh;
}
